<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <script src="https://cdn.tailwindcss.com?plugins=forms,typography,aspect-ratio,line-clamp"></script>
    <title>indice</title>
    <link rel="stylesheet" href="../static/css/style.css">
    <link href="https://cdn.jsdelivr.net/npm/tailwindcss@2.2.19/dist/tailwind.min.css" rel="stylesheet">


</head>
<body class="bg-cover" style="background-image:url('../static/images/sky.jpg');">
    <div class="container text-white mx-auto">
        <div class="my-5 py-5 md:my-10 py-10">
            <div class="hidden md:block">
                <img src="../static/images/Titulo.png"  alt="computador">
            </div>
            <div class="block md:hidden">
                <img src="../static/images/programador.png"  alt="mobil">
                <img src="../static/images/Frond.png"  alt="mobil2">
            </div>
        </div>
        <div class="my-10 grid grid-cols-1 md:grid-cols-2 gap-8">
            <div>
                <h2 class="text-2xl fond-bold m-10">Cristian Johan Alvarez</h2>
                <div>
                    <p>Siempre he tenido un don para los sabores y las texturas,
                         lo que me llevó a estudiar gastronomía. Sin embargo, 
                         en el fondo de mi corazón, había un deseo persistente
                          por la programación, un mundo que siempre me había fascinado.
                          Las recetas eran como algoritmos para mí, y las cocinas, 
                          talleres de desarrollo.
                    </p>
                    <p class="my-5">
                        Aunque disfrutaba creando platos que deleitaban los sentidos, 
                        soñaba con desarrollar aplicaciones que impactaran la vida de 
                        las personas. Con la misma pasión con la que perfeccionaba una 
                        receta, me dediqué a aprender JavaScript y Python. Noche tras 
                        noche, frente a mi computadora, resolvía problemas y construía 
                        proyectos, buscando ese sabor perfecto, pero esta vez en forma 
                        de código.
                    </p>
                    <p >
                        Hoy, soy un programador junior en una startup de tecnología. 
                        Aquí, puedo combinar mi amor por la estética y la funcionalidad. 
                        Mi camino hacia la programación no fue convencional, pero cada 
                        línea de código que escribo lleva la creatividad y la precisión 
                        de un chef. Aunque ahora mi herramienta es el software en lugar
                         de los sartenes, mi objetivo sigue siendo el mismo: 
                         crear experiencias memorables, ya sea en el paladar o en la
                          pantalla.
                    </p>
                </div>
            </div>
            <div class="mt-10">
                <img src="../static/images/cocina.jpeg" alt="cocina" class="w-full">
            </div>
        </div>
        <h1 class="text-3xl my-10 text-center fond-bold">
            Conocimientos
        </h1>
        <div class="grid grid-cols-1 md:grid-cols-3 gap-4">

            <div class="flex justify-center my-10">
                <div class="inline-block bg-cover bg-center relative text-white font-bold w-full h-full object-fill py-6 md:py-20 px-20 sombra text-lg rounded transition duration-300 ease-in-out transform hover:bg-gray-800 hover:scale-105" style="background-image:url('../static/images/diseño.png');">
                    <div class="m-10 p-10 md:mx-10 md:px-10"></div>
                    <div class="absolute top-0 left-0 w-full h-full bg-black opacity-0 w-full h-full object-fill transition-opacity duration-300 hover:opacity-100 rounded bg-cover bg-center" style="background-image: url(../static/images/DiseñoApps.png);"></div>
                </div>
                
            </div>
            <div class="flex justify-center my-10">
                <div class="inline-block bg-cover bg-center relative text-white font-bold w-full h-full object-fill py-6 md:py-20 px-20 sombra text-lg rounded transition duration-300 ease-in-out transform hover:bg-gray-800 hover:scale-105" style="background-image:url('../static/images/BACK\ END.png');">
                    <div class="m-10 p-10 md:mx-10 md:px-10"></div>
                    <div class="absolute top-0 left-0 w-full h-full bg-black opacity-0 w-full h-full object-fill transition-opacity duration-300 hover:opacity-100 rounded bg-cover bg-center" style="background-image: url(../static/images/BACK\ ENDApps.png);"></div>
                </div>
                
            </div>
            <div class="flex justify-center my-10">
                <div class="inline-block bg-cover bg-center relative text-white font-bold w-full h-full object-fill py-6 md:py-20 px-20 sombra text-lg rounded transition duration-300 ease-in-out transform hover:bg-gray-800 hover:scale-105" style="background-image:url('../static/images/Fontend.png');">
                    <div class="m-10 p-10 md:mx-10 md:px-10"></div>
                    <div class="absolute top-0 left-0 w-full h-full bg-black opacity-0 w-full h-full object-fill transition-opacity duration-300 hover:opacity-100 rounded bg-cover bg-center" style="background-image: url(../static/images/frontendapps.png);"></div>
                </div>
                
            </div>

        </div>
        <div class="m-10 text-3xl text-center fond-bold">
            <h1>Proyectos</h1>
        </div>
        <div class="grid grid-cols-1 md:grid-cols-3 gap-4">
            <div class="flex justify-center my-10">
                <a href="../templates/Tetris.html" class="w-full h-full object-fill inline-block bg-cover bg-center relative text-white font-bold py-6 md:py-20 px-20 sombra text-lg rounded transition duration-300 ease-in-out transform hover:bg-gray-800 hover:scale-105" style="background-image:url('../static/images/TETRIS\ BACKGROUND.png');">
                  <div class="m-10 p-10 md:mx-10 px-10">
                  </div>
                  <!-- Agregamos una capa con opacidad que se superpondrá en el hover -->
                  <div class="absolute top-0 left-0 w-full h-full object-fill bg-black opacity-0 transition-opacity duration-300 hover:opacity-100 rounded bg-cover bg-center" style="background-image: url(../static/images/TETRIS\ BACKGROUND\ JUGAR.png);"></div>
                </a>
            </div>
              
            <div class="flex justify-center my-10 " >
                <a href="../templates/culebrita.html" class="w-full h-full object-fill inline-block bg-cover bg-center  relative text-white font-bold py-6 md:py-20 px-20 sombra text-lg rounded transition duration-300 ease-in-out transform hover:bg-gray-800 hover:scale-105" style="background-image:url('../static/images/background\ snake.jpg');">
                    <div class="m-10 p-10 md:mx-10 px-10">
                    </div>
                    <div class="absolute top-0 left-0 w-full h-full object-fill bg-black opacity-0 transition-opacity duration-300 hover:opacity-100 rounded bg-cover bg-center" style="background-image: url('../static/images/background\ snake\ jugar.png');"></div>
                </a>
            </div>
            <div class="flex justify-center my-10 " >
                <a href="" class="w-full h-full object-fill inline-block bg-cover bg-center border border-dashed relative text-white font-bold py-6 md:py-20 px-20 sombra text-lg rounded transition duration-300 ease-in-out transform hover:bg-gray-800 hover:scale-105" style="background-image:url('../static/images/Proximamente.png');">
                    <div class="m-10 p-10 md:mx-10 px-10">
                    </div>
                </a>
            </div>
        </div>

        
    </div>
</body>
</html>
